@font-face {
    font-family: "New_Zelek";
    src: url("../../Assets/Fonts/NEW_ZELEK_[ALLFONT.RU].TTF") format("truetype");
}

@font-face {
    font-family: "Montserrat_Bold";
    src: url("../../Assets/Fonts/MONTSERRAT-BOLD.TTF") format("truetype");
}

@font-face {
    font-family: "Montserrat_Regular";
    src: url("../../Assets/Fonts/MONTSERRAT-REGULAR.TTF") format("truetype");
}

* {
    top: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* body {
    background-image: url(back.jpg);
    background-size: initial;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    overflow-x: scroll;
} */

#myVideo {
    position: absolute;
    left: 0;
    top: 0;
    width: 10704.38px;
    height: 3840px;
    z-index: -1000;
}

.helper {
    /* display: flex;
    align-items: flex-start;
    justify-content: center; */
    position: absolute;
    z-index: 1;
    width: 2160px;
    height: 3840px;
    background-color: transparent;
    margin-left: 100px;
    margin-right: 100px;
    transition: 1s linear;
}

.BigImage {
    position: absolute;
    width: 2042.88px;
    height: 1590.93px;
    margin-left: 58.56px;
    margin-top: 857.09px;
    z-index: 500;
    display: none;
}

.Cancel {
    position: absolute;
    width: 79.36px;
    height: 79.36px;
    margin-left: 1987.69px;
    margin-top: 881.35px;
    z-index: 501;
    background-color: transparent;
    display: none;
}

.card {
    position: relative;
    width: 413.18px;
    height: 468.48px;
    margin-top: 241.15px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    background-image: url(../../Assets/card_back.png);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center center;
    transition: 0.5s linear;
}

.content {
    position: relative;
    width: 1328.64px;
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../../Assets/content_back.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    transition: 0.5s linear;
}

.images_scroller {
    width: 1328.64px;
}

.show_info {
    height: 79.2;
    width: 324.1;
    margin-left: 502.27px;
    margin-top: 80.4px;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s linear 0.4s;
}

h1,
p {
    text-align: center;
}

h1 {
    font-family: 'New_Zelek';
    font-style: normal;
}

.card_date,
.card_year,
.card_description {
    color: #FFFFFF;
    width: 413.18px;
}

.card_date {
    font-weight: 400;
    font-size: 40px;
    line-height: 131px;
    margin-top: 10px;
}

.card_year {
    font-weight: 400;
    font-size: 100px;
    line-height: 131px;
    margin-top: -50px;
}

.card_description {
    margin-top: 44.8px;
    font-family: 'Montserrat_Bold';
    font-weight: 700;
    font-size: 31.52px;
    line-height: 52.5px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.content_title {
    color: #0039A6;
    width: 1328.52px;
    font-style: normal;
    font-weight: 400;
    font-size: 77.5399px;
    line-height: 97px;
    margin-top: 1.67px;
    opacity: 0;
    text-transform: uppercase;
    transition: 0.5s linear;
}

.content_description {
    font-family: 'Montserrat_Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 29.184px;
    line-height: 36px;
    text-align: justify;
    width: 1160.51px;
    height: 593.18px;
    margin-left: 84px;
    opacity: 0;
    transition: 0.3s linear 0.2s;
}

::-webkit-scrollbar {
    display: none;
}

#helper_1 {
    margin-left: 569.3px;
}

#helper_2 {
    margin-left: 1066.3px;
}

#helper_3 {
    margin-left: 1536.3px;
}

#helper_4 {
    margin-left: 2060.3px;
}

#helper_5 {
    margin-left: 2567.3px;
}

#helper_6 {
    margin-left: 3054.3px;
}

#helper_7 {
    margin-left: 3551.3px;
}

#helper_8 {
    margin-left: 4048.3px;
}

#helper_9 {
    margin-left: 4545.3px;
}

#helper_10 {
    margin-left: 5042.3px;
}

#helper_11 {
    margin-left: 5539.3px;
}

#helper_12 {
    margin-left: 6036.3px;
}

#helper_13 {
    margin-left: 6533.3px;
}

#helper_14 {
    margin-left: 7030.3px;
}

#helper_15 {
    margin-left: 7527.3px;
}

#helper_16 {
    margin-left: 8024.3px;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    width: 1232.88px;
    height: 960.17px;
    margin-left: 47.88px;
    object-fit: cover;
    object-position: 0% 0%;
    opacity: 0;
    transition: 0.5s linear;
    overflow-y: visible;
    overflow-x: visible;
}

.mySlides {
    display: none;
}

.sliderImage {
    width: 100%;
    height: 0px;
    margin-top: 59.45px;
    transition: 0.5s linear;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 100%;
    width: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 81px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    text-align: center;
    user-select: none;
    /* background-color: #0039A6; */
    background-image: url(../../Assets/Left.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    left: 366px;
    z-index: 200;
}

.next {
    left: 787px;
    background-image: url(../../Assets/Right.png);
}

.doter {
    position: relative;
    margin: auto;
    margin-top: -80px;
}

.dot {
    cursor: pointer;
    height: 16.79px;
    width: 16.79px;
    margin-top: -20px;
    margin: 0px 15px;
    background-color: rgba(255, 255, 255, 0.73);
    display: inline-block;
}

.active,
.dot:hover {
    background-color: #0039A6;
}